* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: bisque;
}

.container2 {
    width: 620px;
    /* height: 300px; */
    border-radius: 7px;
    background: rgb(223, 147, 54);
    padding: 25px 28px 45px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.container2 h1 {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

#search{
    background-color: blanchedalmond;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    float: right;
}

#search:hover{
    background-color: black;
    color: white;
}

/* .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    height: 100px;
    width: 100px;
    background-color: red; 
} */

/* #card{
    display: grid;
    grid-template-rows: max-content 150px 1fr;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    width: 180px;
    border-radius: 10px;
} */